/* all styling should be made in css */
/* refrain from having styling decisions within class names */
/* em is relative to the font size of its parent */

/* #461220 #8C2F39 #508484 #EACDC2 #FFFBFC */

:root {
    --primary-clr: #461220;
    --primary2-clr: #8C2F39;
    --accent-clr: #508484;
    --accent2-clr: #EACDC2;
    --bg-clr: #FFFBFC;

    --font-clr: #FFFBFC;
    --ff-light: 300;
    --ff-medium: 400;
    --ff-bold: 700;

    --fs-xs: 0.75rem;
    --fs-sm: 1rem;
    --fs-med: 1.5rem;
    --fs-lg: 2.25rem;
    --fs-xl: 4rem;


}
*,
*:before,
*:after {
    margin: 0;
    padding: 0;
    font-family: 'Source Sans Pro', sans-serif;
    box-sizing: border-box;
    scroll-behavior: smooth;
}



/* primary element selectors */

body {
    background-color: var(--bg-clr);
    height: 100vh;
}

/* navigation bar */

ul {
    list-style-type: none;
    overflow: hidden;
    background-color: var(--primary-clr);
    color: var(--font-clr);
    position: fixed;
    z-index: 1;
    width: 100vw;
    top: 0;
}

li {
    display: inline;
    float: left;
}

li a {
    display: block;
    text-align: center;
    padding: 14px 25px;
    text-decoration: none;
    font-size: var(--fs-sm);
    color: var(--font-clr);
    transition: 0.2s;
}

li a:visited {
    color: var(--font-clr);
}

li a:hover,
li a:focus {
    background-color: var(--primary2-clr);
    transition: 0.2s;
    transform: scale(1.07);
}

.active {
    background-color: var(--primary2-clr);
    font-weight: var(--ff-bold);
}

/* content */
/* background image */
.home-container {
    height: 100vh;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: block;
}

.home-background {
    background-image: url("img/blueberry-cups-homepage.jpg");
}

.about-us-background {
    background-image: url("img/smoothie-surrounded-by-fresh-fruit.jpg");
}

.packages-background {
    background-image: url("img/bowls-of-fresh-berries.jpg");
}

.how-it-works-background {
    background-image: url("img/burger-topped-with-green-onions.jpg");
}

img {
    max-width: 100%
}

/* page content */
.text-container {
    grid-area: text-container;
    height: 400px;
    width: 600px;
    background-color: rgba(140, 47, 47, 0.5); /* #8C2F39 with opacity */
    border-radius: 7px;
    margin-right: 100px;
    padding: 5px;
    color: var(--font-clr);
    /* color: #1f1f1f; */
    box-shadow: 2px 2px 10px gray;
}

.page-title {
    font-weight: var(--ff-bold);
    font-size: var(--fs-xl);
}

.home-container {
    display: grid;
    grid-template-columns: 1fr;
}

/* packages */
.card-background1 {
    grid-area: card1;
}

.card-background2 {
    grid-area: card2;
}

.card-background3 {
    grid-area: card3;
}

.card-holders {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas: "card1 card2 card3";
    gap: 10px;
    margin: auto;
    line-height: 1.4;
    color: var(--font-clr);
    font-weight: var(--ff-bold);
}

.card {
    padding-top: 300px;
    box-shadow: 2px 2px 5px gray;
}

.card-button {
    margin-left: 10px;
    padding: 10px 5px;
    border-radius: 5px;
    background-color: var(--accent-clr);
    text-decoration: none;
    color: var(--font-clr);
}

.card,
.card-background1,
.card-background2,
.card-background3 {
    height: 450px;
    width: 400px;
    background-size: cover;
    transition: 0.2s;

}

.card-background1 {
    background-image: url("img/sandwiches-on-wooden-board.jpg");
}

.card-background2 {
    background-image: url("img/nacho-platter-with-sides.jpg");
}

.card-background3 {
    background-image: url("img/meatball-platter.jpg");
} 

/* hover over packages cards to bring up info on each + sign up button */
/* .card-background1:hover,
.card-background2:hover,
.card-background3:hover {
    background-color: rbga(0, 0, 0, 0.5);
    z-index: 2;
} */



.card-button:hover {
    transform: scale(1.06);
    transition: 0.2s;
}

.card-text {
    background-color:rgba(0, 0, 0, 0.7);
    height: 150px;
}

/* footer */

.main-footer {
    width: 100%;
    background-color: var(--primary-clr);
    position: fixed;
    bottom: 0;
    left: 0;
    text-align: center;
    color: var(--font-clr);
    padding: 5px;
}

.svg-link {
    position: relative;
    height: 2em;
    float: left;
    left: 25%;
    align-content: center;
    margin-top: 7px;
    margin-left: 10px;
    transition: 0.2s;
}

.other-links li {
    list-style-type: none;
    position: relative;
    float: left;
    left: 50%;
    margin-left: 10px;
}

/* media queries */

/* packages */
@media handheld, only screen and (max-width: 1229px) {

    .text-container {
        display: flex;
        flex-direction: column;
        margin: 5px;
        padding: 0;
        word-wrap:break-word;
        width: 100%;
        height: 100%;
    }

    body {
        background-color: #f3f3f3;
        }
    
    .card-holders {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-areas: "card1"
                             "card2"
                             "card3";
        gap: 10px;
        margin: auto;
    }

    /* footer */
    .other-links li {
        display: none;
    }
}

@media only screen and (min-width: 632px) {
    .card:hover {
        transform: scale(1.06);
        transition: 0.2s;
    }

    .packages-card {
        margin-top: 20px;
        margin-bottom: 50px;
    }

}

 @media handheld, only screen and (max-width: 631px) {

    /* home, about us */
    .text-container {
        margin: 5px;
        max-width: 50ch;
    }

    .mobile-overflow {
        overflow: hidden;
    } 

    .packages-card {
        margin-top: 20px;
        margin-bottom: 50px;
    }


    /* footer */

    .main-footer {
        width: 100%;
        background-color: var(--primary-clr);
        position: fixed;
        bottom: 0;
        left: 0;
        color: var(--font-clr);
        padding: 5px;
    }

    .svg-link {
        display: flex;
    }

    .other-links li {
        display: none;
    }
 }